/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

/* Navbar Style */
.navbar {
    background: white;
    padding: 20px;
    transition: background 0.3s ease;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    margin-left: auto; 
}

.navbar-collapse.collapse.show {
    justify-content: flex-end;
}

/* Menu Dropdown muncul di sebelah kanan */
.navbar-nav {
    position: relative;
}

.nav-item {
    position: relative;
}

.navbar-nav .dropdown-menu {
    right: 0; 
    left: auto; 
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    font-weight: 500;
    padding-left: 20px;
    color: #f9943b !important;
}

.navbar-nav .nav-link:hover {
    color: #ffdb4f !important;
}

/* Main Section */
.hero-section {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}

.hero-section .profile-image {
    margin-bottom: 20px;
}

.hero-section .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: zoomIn 1.5s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Logo Section */
.hero-section .logo h1 {
    font-size: 48px;
    font-weight: 700;
    color: #333;
    display: inline-block;
    margin-top: 10px;
}

.hero-section .intro {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section .social-icons {
    margin: 20px 0;
}

.hero-section .social-icons a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
}

.hero-section .social-icons a:hover {
    color: #f9943b;
}

/* Button Styles */
.actions .btn {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 50px;
}

.actions .btn-outline-hire {
    border-color: #f9943b;
    color: #f9943b;
}

.actions .btn-outline-hire:hover {
    background-color: #f9943b;
    color: white;
}

.actions .btn-outline-cv {
    border-color: #ffdb4f;
    color: #ffdb4f;
}

.actions .btn-outline-cv:hover {
    background-color: #ffdb4f;
    color: white;
}

/* Modal styling */
.modal {
    display: none; 
    position: fixed;
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Education Style */
#education .container {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 10px;
}
  
.section-divider {
    width: 50%; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
}  

.section-quote {
    font-style: italic; 
    text-align: center; 
    margin: 20px auto; 
    padding: 10px;
    color: #555; 
    max-width: 600px;
}

/* Education Entry */
.education-entry {
    margin-bottom: 60px;
}

#education .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
  
/* Left Column: Education Details */
.col-education-details {
    flex: 1;
}
  
.degree {
    font-size: 28px;
    color: #f9943b;
    margin-bottom: 5px;
}
  
.major, 
.years, 
.gpa {
    font-size: 16px;
    margin-bottom: 5px;
}
  
.description {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

/* Right Column: Gallery */
.col-education-gallery {
    flex: 0.4;
}
  
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.education-modal {
    display: none;
    position: fixed;
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); 
    justify-content: center;
    align-items: center;
    overflow: auto; 
}
  
.education-modal-content {
    position: relative;
    width: 80%; 
    max-width: 700px; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
.education-close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    z-index: 10000;
    cursor: pointer;
}
  
.education-close:hover,
.education-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
.education-slide {
    display: none;
}
  
.education-slide img {
    width: 100%;
    height: auto;
}
  
  /* For the previous and next buttons */
.education-prev, .education-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.education-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.education-prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* Hover effects */
.education-prev:hover, .education-next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Website Section */
#projects {
    padding-top: 0px;
    padding-bottom: 0px;
    background: white;
}
  
.projects-container {
    padding-top: 80px;
    padding-bottom: 80px;
}
  
.website-box {
    margin-bottom: 30px;
}
  
.projects-item {
    position: relative;
    overflow: hidden;
}
  
.projects-image {
    width: 100%; 
    aspect-ratio: 3 / 2; 
    object-fit: cover; 
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}
  
.projects-item:hover .projects-image {
    transform: scale(1.1);
}
  
.projects-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.projects-info h2{
    font-size: 20px;
    color: #f9943b;
}

.projects-info p{
    font-size: 15px;
    font-family: Helvetica;
    color: #ffdb4f;
    margin: 5px 10px;
}
  
.projects-item:hover .projects-info {
    opacity: 1;
}
  
.projects-title {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10px;
}
  
.projects-description {
    margin-bottom: 20px;
}
  
.hidden-rows {
    display: none;
}

#show-more-btn {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 50px;
    border-color: #f9943b;
    color: #f9943b;
    cursor: pointer; 
}

#show-more-btn:hover {
    background-color: #f9943b;
    color: white; 
}
  
/* Blog Style */
#blog {
    max-width: 1200px;
    margin: 0 auto; 
    border-radius: 15px; 
    overflow: hidden;
}
  
.blog-section {
    padding: 60px;
    text-align: center;
}
 
.blog-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
    
.blog-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 20px;
}
    
.blog-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}
    
.blog-card:hover .blog-card-inner {
    transform: rotateY(0deg);
}
    
.blog-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
    
.blog-content {
    position: absolute;
    top: 200px;
    padding: 20px;
    height: 200px;
    backface-visibility: hidden;
}
    
.blog-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}
    
.blog-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}
    
.blog-content .read-more {
    display: inline-block;
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
}
    
.blog-content .read-more:hover {
    color: #d35400;
}
    
.blog-card .blog-content {
    text-align: left;
}
    
.blog-card .blog-card-inner {
    transform: rotateY(0deg);
}
    
.blog-card:hover .blog-card-inner {
    transform: rotateY(0deg);
}

/* Responsive Style */
@media (max-width: 576px) {
    /* Navbar Style */
    .navbar {
        padding: 15px;
        background: transparent;
    }

    .navbar .navbar-brand img {
        height: 35px;
    }

    .navbar-nav .nav-link {
        padding-left: 15px;
        font-size: 1rem;
    }
    
    .navbar-nav {
        text-align: right;
    }

    /* Main Section */
    .hero-section {
        padding: 20px;
        text-align: center;
        height: auto;
        padding-top: 100px;
    }
  
    .hero-section .profile-image img {
        width: 120px;
        height: 120px;
    }
  
    .hero-section .logo h1 {
        font-size: 32px;
    }
  
    .hero-section .intro {
        font-size: 12px;
        margin-top: 10px;
        width: 75%;
    }
  
    .actions .btn {
        padding: 8px 20px;
        font-size: 14px;
    }

    /* Education Section */
    #education .container {
        width: 90%;
        padding: 20px 0;
    }
    
    #education .row {
        flex-direction: column;
    }

    .section-title {
        font-size: 24px;
    }

    .education-entry{
        width: 75%;
        margin: 20px auto;
    }

    .degree {
        font-size: 16px;
        text-align: left;
    }

    .major, 
    .years, 
    .gpa,
    .description {
        font-size: 12px;
    }

    .col-education-gallery {
        margin-top: 10px;
    }

    /* Gallery Education */
    .education-modal-content {
        width: 95%; 
        max-width: none; 
        padding: 10px;
    }
  
    .education-close {
        font-size: 25px;
        top: 10px;
        right: 15px;
    }
  
    .education-prev, .education-next {
        font-size: 14px; 
        padding: 12px;
    }
    
    /* Adjust slide images for smaller screens */
    .education-slide img {
        max-width: 100%;
        height: auto;
    }

    /* Project Section */
    .projects-info h2{
        font-size: 18px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /* Navbar Style */
    .navbar {
        padding: 15px;
        background: transparent;
    }
  
    .navbar .navbar-brand img {
        height: 35px;
    }
  
    .navbar-nav .nav-link {
        padding-left: 15px;
        font-size: 1rem;
    }

    .navbar-nav {
        text-align: right;
    }

    /* Main Section */
    .hero-section {
        padding: 30px;
        text-align: center;
        height: auto;
        padding-top: 100px;
    }
  
    .hero-section .profile-image img {
        width: 130px;
        height: 130px;
    }
  
    .hero-section .logo h1 {
        font-size: 36px;
    }
  
    .hero-section .intro {
        font-size: 16px;
    }
  
    .actions .btn {
        padding: 10px 25px;
        font-size: 16px;
    }

    /* Education Section */
    #education .container {
        width: 90%;
        padding: 20px 0;
    }
    
    #education .row {
        flex-direction: column;
    }

    .section-title {
        font-size: 24px;
    }

    .education-entry{
        width: 75%;
        margin: 20px auto;
    }

    .degree {
        font-size: 20px;
        text-align: left;
        margin-top: 10px;
    }

    .major, 
    .years, 
    .gpa,
    .description {
        font-size: 15px;
    }

    .col-education-gallery {
        margin-top: 10px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    /* Navbar Style */
    .navbar {
        padding: 20px;
        background: transparent;
    }
  
    .navbar .navbar-brand img {
        height: 40px;
    }
  
    .navbar-nav .nav-link {
        padding-left: 20px;
        font-size: 1.1rem;
    }

    .navbar-nav {
        text-align: right;
    }

    /* Main Section */
    .hero-section .profile-image img {
        width: 140px;
        height: 140px;
    }
  
    .hero-section .logo h1 {
        font-size: 40px;
    }
  
    .hero-section .intro {
        font-size: 17px;
    }

    /* Education Section */
    #education .container {
        width: 90%;
        padding: 20px 0;
    }
    
    #education .row {
        flex-direction: column;
    }

    .section-title {
        font-size: 24px;
    }

    .education-entry{
        width: 75%;
        margin: 20px auto;
    }

    .degree {
        font-size: 20px;
        text-align: left;
        margin-top: 10px;
    }

    .major, 
    .years, 
    .gpa,
    .description {
        font-size: 15px;
    }

    .col-education-gallery {
        margin-top: 10px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    /* Navbar Style */
    .navbar {
        padding: 20px;
    }
  
    .navbar .navbar-brand img {
        height: 40px;
    }
  
    .navbar-nav .nav-link {
        padding-left: 20px;
        font-size: 1.2rem;
    }

    /* Main Section */
    .hero-section{
        margin-top: 20px;
        background: transparent;
    }
    .hero-section .profile-image img {
        width: 150px;
        height: 150px;
    }
  
    .hero-section .logo h1 {
        font-size: 44px;
    }
  
    .hero-section .intro {
        font-size: 18px;
    }
  
    .actions .btn {
        padding: 10px 30px;
        font-size: 18px;
    }

    /* Education Section */
    #education .container {
        width: 70%;
    }

    .section-title {
        font-size: 28px;
    }

    .degree {
        font-size: 22px;
    }

    .major, 
    .years, 
    .gpa,
    .description {
        font-size: 16px;
    }
}

@media (min-width: 1200px){
    .navbar {
        padding: 20px;
    }
  
    .navbar .navbar-brand img {
        height: 40px;
    }
  
    .navbar-nav .nav-link {
        padding-left: 20px;
        font-size: 1.3rem;
    }

    /* Main Section */
    .hero-section .profile-image img {
        width: 150px;
        height: 150px;
    }
  
    .hero-section .logo h1 {
        font-size: 48px;
    }
  
    .hero-section .intro {
        font-size: 18px;
    }
  
    .actions .btn {
        padding: 10px 30px;
        font-size: 18px;
    }
}